body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td,
form,
input,
select,
textarea,
span,
img,
a,
em,
strong,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  font-family: PingFang SC; }

.hide {
  opacity: 0; }

.hides {
  display: none; }

body {
  font-family: "BigCaslon-Medium";
  font-size: 12px;
  color: #000000;
  width: 100%;
  height: 100%; 
  font-weight: 200;
}

.loding {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0; }
  .loding img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto; }

ul,
ol,
li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px; }

input,
select,
textarea {
  vertical-align: middle; }

img {
  border: none;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #333333; }

a:hover {
  color: #009999; }

.clear {
  clear: both;
  height: 0px;
  width: 0px;
  overflow: hidden; }

.wrap {
  padding: 0 9%; }

.head {
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  line-height: 70px; }
  .head ul {
    padding: 0 16%; }
    .head ul li {
      float: left;
      width: 17.5%;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase; }
      .head ul li a {
        position: relative;
        display: inline-block;
        padding: 0 3px;
        height: 55px; }
      .head ul li a:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        display: block;
        height: 2px;
        border: #fefefe 1px solid;
        content: "";
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .head ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        display: block;
        height: 2px;
        border: #fefefe 1px solid;
        content: "";
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .head ul li a:hover:after {
        position: absolute;
        right: 0;
        width: 95%;
        display: block;
        border: #111 1px solid;
        content: ""; }
      .head ul li a:hover:before {
        position: absolute;
        width: 47.5%;
        display: block;
        border: #111 1px solid;
        background: #111;
        content: ""; }
    .head ul li:nth-child(3) {
      width: 30%;
      height: 70px;
      position: relative; }
      .head ul li:nth-child(3) .logoArea {
        position: absolute;
        z-index: 1002;
        display: block;
        width: 100%; }
        .head ul li:nth-child(3) .logoArea h2 span {
          width: 100%;
          height: 70px;
          background: url(../imgs/logo_black.png) center center no-repeat;
          display: block;
          position: relative;
          overflow: hidden;
          text-indent: -999px;
          z-index: 1003; }
        .head ul li:nth-child(3) .logoArea h2 span:hover {
          background: url(../imgs/logo_write.png) center center no-repeat; }
        .head ul li:nth-child(3) .logoArea h2 .bg {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          content: "";
          background: transparent;
          z-index: -1;
          -webkit-transition: all 0.6s ease-out;
          -moz-transition: all 0.6s ease-out;
          -o-transition: all 0.6s ease-out;
          transition: all 0.6s ease-out;
          -webkit-transform: scale(1, 0.9);
          -moz-transform: scale(1, 0.9);
          -o-transform: scale(1, 0.9);
          -ms-transform: scale(1, 0.9);
          transform: scale(1, 0.9); }
        .head ul li:nth-child(3) .logoArea h2:hover .bg {
          background: #111;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1); }
    .head ul li.libg {
      background: url(../imgs/icon_xin.png) no-repeat center 7px; }
    .head ul li.libg:hover {
      background: url(../imgs/icon_xin2.png) no-repeat center 7px; }

.maxbody {
  margin-top: 70px; }

.home_body {
  width: 100%;
  background: #fff;
  position: relative; }
  .home_body .min_img {
    width: 100%;
    position: relative; }
    .home_body .min_img img {
      width: 100%; }
    .home_body .min_img img:nth-child(2) {
      width: 48%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      position: absolute; }

.about_body {
  width: 100%; }
  .about_body .ab_head {
    width: 100%;
    position: relative; }
    .about_body .ab_head img {
      width: 100%; }
    .about_body .ab_head p {
      position: absolute;
      text-align: center;
      width: 12%;
      left: 44%;
      top: 22%;
      font-size: 26px;
      color: #fff;
      padding-bottom: 2%;
      border-bottom: solid 2px #fff;
      letter-spacing: 5px; }
  .about_body .ab_about {
    width: 100%;
    padding: 5% 0;
    position: relative; }
    .about_body .ab_about .min_left {
      width: 35%;
      padding-left: 40px; }
      .about_body .ab_about .min_left img {
        width: 100%; }
    .about_body .ab_about .min_right {
      position: absolute;
      top: 12.2%;
      right: 10%;
      width: 46%;
      background: url(../imgs/kuang.png) no-repeat;
      background-size: contain;
      height: 76%;
      display: inline-block;
      padding: 40px 30px 0 30px; }
      .about_body .ab_about .min_right h2 {
        font-size: 36px;
        font-weight: 200;
        padding-bottom: 20px; }
      .about_body .ab_about .min_right p {
        line-height: 30px;
        color: #999;
        font-size: 18px; }
      .about_body .ab_about .min_right ul {
        padding-top: 10px; }
        .about_body .ab_about .min_right ul li {
          color: #999;
          font-size: 18px;
          padding-left: 20px;
          line-height: 38px;
          background: url(../imgs/icon_xin.png) no-repeat left center; }

.contenct_body {
  width: 100%;
  height: auto; }
  .contenct_body .cbbody {
    width: 100%;
    height: auto;
    text-align: center; }
    .contenct_body .cbbody .p_name {
      line-height: 54px;
      font-size: 28px;
      margin-top: 80px; }
    .contenct_body .cbbody .p_name1 {
      font-size: 18px;
      color: #999999;
      font-weight: normal;
      margin-top: 5px; }
    .contenct_body .cbbody .img_head {
      width: 80px;
      height: 80px;
      display: inline-block;
      background: url(../imgs/img_touxiang.png) no-repeat center center;
      background-size: 80px;
      margin-top: 120px; }

.cbhead {
  width: 100%;
  position: relative; }
  .cbhead img {
    width: 100%; }
  .cbhead p {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    display: inline-block;
    width: 20%;
    height: 2.8%;
    font-size: 24px;
    padding-bottom: 55px;
    text-align: center; }
  .cbhead span {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 2px;
    width: 6%;
    background: #fff;
    margin-bottom: 60px; }

.cbphone {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 70px; }
  .cbphone p {
    float: left;
    font-weight: bold; }
    .cbphone p i {
      width: 30px;
      height: 25px;
      display: inline-block;
      margin-right: 10px; }
      .cbphone p i img {
        width: 100%; }
  .cbphone p:nth-child(1) {
    padding-left: 20%; }
  .cbphone p:nth-child(2) {
    padding-left: 6%; }
  .cbphone p:nth-child(3) {
    padding-left: 8%; }

.img_ditu {
  width: 100%;
  height: auto;
  margin-top: 120px;
  margin-bottom: 150px; }
  .img_ditu img {
    width: 100%; }

.cbfoot {
  width: 100%;
  text-align: center;
  line-height: 40px; }

.wbnav {
  padding-top: 3%;
  width: 100%;
  height: 37px;
  text-align: center; }
  .wbnav .navmin {
    display: inline-block; }
    .wbnav .navmin span {
      font-size: 12px;
      display: inline-block;
      padding: 5px 13px;
      background: #F3F3F3;
      margin: 0 5px;
      border-radius: 5px;
      color: #111111; }
    .wbnav .navmin span.bg {
      background: #111111;
      color: #fff; }

.wbbody {
  width: 100%;
  height: auto;
  margin-top: 6%; }
  .wbbody dl {
    width: 44%;
    margin: 0 3%;
    float: left; }
    .wbbody dl dt {
      display: inline-block;
      position: relative; }
      .wbbody dl dt img {
        width: 100%; }
      .wbbody dl dt .addtext {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #000000;
        opacity: 0.5; }
      .wbbody dl dt .mindiv {
        width: 86%;
        height: 84%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border: solid 1px #FFFFFF; }
        .wbbody dl dt .mindiv .minsdiv {
          width: 94%;
          height: 93%;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          background: #FFFFFF;
          opacity: 0.9; }
      .wbbody dl dt .addtxt {
        z-index: 9999;
        color: #424242;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 50%;
        font-size: 16px;
        line-height: 24px;
        height: 30%;
        text-align: center; }
    .wbbody dl dd {
      padding-top: 5%;
      text-align: center;
      padding-bottom: 10%; }
      .wbbody dl dd p:nth-child(1) {
        font-size: 24px;
        color: #111111; }
      .wbbody dl dd p:nth-child(2) {
        padding-top: 1%;
        color: #999;
        height: 80px; }

a:hover {
  color: #000000; }

.addbox {
  width: 100%;
  height: auto;
  background: #000;
  opacity: 0.5;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999; }

.addimgs {
  width: 70%;
  position: absolute;
  left: 15%;
  top: 100px;
  z-index: 999999999; }
  .addimgs img {
    width: 100%; }

.remove {
  position: absolute;
  right: 5%;
  top: 1%;
  width: 40px;
  height: 40px;
  background: url(../imgs/icon_close_nomal.png) no-repeat center center;
  color: red; }

.remove:hover {
  background: url(../imgs/icon_close_hover.png) no-repeat center center; }

.ad_foot {
  width: 100%;
  height: 860px;
  position: relative;
  margin-top: 30px; }
  .ad_foot .shu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 14px; }
  .ad_foot .one {
    width: 45%;
    position: absolute;
    left: 55%; }
    .ad_foot .one dl {
      width: 100%;
      height: 78px; }
      .ad_foot .one dl dt {
        width: 78px;
        height: 78px;
        float: left; }
        .ad_foot .one dl dt img {
          width: 100%; }
      .ad_foot .one dl dd {
        height: 78px;
        display: inline-block;
        padding-left: 20px;
        font-weight: bold;
        position: relative;
        width: 300px; }
        .ad_foot .one dl dd p:nth-child(1) {
          font-size: 22px; }
        .ad_foot .one dl dd p:nth-child(2) {
          position: absolute;
          bottom: 0;
          width: 100%;
          font-size: 14px; }
    .ad_foot .one .p_text {
      margin-top: 20px;
      font-size: 14px;
      color: #666666; }
  .ad_foot .two {
    width: 40%;
    position: absolute;
    left: 5%;
    top: 170px; }
    .ad_foot .two dl {
      width: 100%;
      height: 78px; }
      .ad_foot .two dl dt {
        width: 78px;
        height: 78px;
        float: right; }
        .ad_foot .two dl dt img {
          width: 100%; }
      .ad_foot .two dl dd {
        height: 78px;
        display: inline-block;
        text-align: right;
        font-weight: bold;
        position: relative;
        width: 325px; }
        .ad_foot .two dl dd p:nth-child(1) {
          font-size: 22px; }
        .ad_foot .two dl dd p:nth-child(2) {
          position: absolute;
          bottom: 0;
          width: 100%;
          font-size: 14px; }
    .ad_foot .two .p_text {
      margin-top: 20px;
      font-size: 14px;
      color: #666666; }
  .ad_foot .four {
    width: 40%;
    position: absolute;
    left: 5%;
    top: 620px; }
    .ad_foot .four dl {
      width: 100%;
      height: 78px; }
      .ad_foot .four dl dt {
        width: 78px;
        height: 78px;
        float: right;
        position: relative; }
        .ad_foot .four dl dt img {
          width: 100%; }
      .ad_foot .four dl dd {
        height: 78px;
        display: inline-block;
        text-align: right;
        font-weight: bold;
        position: relative;
        width: 325px; }
        .ad_foot .four dl dd p:nth-child(1) {
          font-size: 22px; }
        .ad_foot .four dl dd p:nth-child(2) {
          position: absolute;
          bottom: 0;
          width: 100%;
          font-size: 14px; }
    .ad_foot .four .p_text {
      margin-top: 20px;
      font-size: 14px;
      color: #666666; }
  .ad_foot .three {
    width: 45%;
    position: absolute;
    left: 55%;
    top: 400px; }
    .ad_foot .three dl {
      width: 100%;
      height: 78px; }
      .ad_foot .three dl dt {
        width: 78px;
        height: 78px;
        float: left; }
        .ad_foot .three dl dt img {
          width: 100%; }
      .ad_foot .three dl dd {
        height: 78px;
        display: inline-block;
        padding-left: 20px;
        font-weight: bold;
        position: relative;
        width: 300px; }
        .ad_foot .three dl dd p:nth-child(1) {
          font-size: 22px; }
        .ad_foot .three dl dd p:nth-child(2) {
          position: absolute;
          bottom: 0;
          width: 100%;
          font-size: 14px; }
    .ad_foot .three .p_text {
      margin-top: 20px;
      font-size: 14px;
      color: #666666; }

/*# sourceMappingURL=style.css.map */
