<div class="about_body">
     <section class="cbhead">
        <img src="../imgs/img_lianxiwo.png" alt="">
        <p>关于我</p>
        <span></span>
    </section>
    <section class="ab_about">
        <div class="min_left">
            <img src="https://img01.wanfangche.com/public/upload/201805/21/5b02891e478d4.png?x-oss-process=style/large" alt="">
        </div>
        <div class="min_right">
            <h2>张雅柔</h2>
            <p>UI 设计师，了解互联网用户体验研究分析，具有产品思维，精通该行业的设计及体验优化。沟通能力良好。</p>
            <ul>
                <li>能够利用互联网平台，把握用户需求，总结想法</li>
                <li>喜发现新的设计趋势，关注用户体验</li>
                <li>做事积极有热情，注重团队合作，富有责任感</li>
            </ul>
        </div>
    </section>
    <section class="ad_foot">
        <p class="shu">
            <img src="../imgs/line.png" alt="" />
        </p>
        <div class="five">
            <dl>
                <dt><img src="https://img01.wanfangche.com/public/upload/201805/21/5b02891c2d763.png?x-oss-process=style/large" alt="" /></dt>
                <dd>
                    <p>2018-2017</p>
                    <p>德灵科技</p>
                </dd>
            </dl>
            <p class="p_text">德灵科技有限公司专注于企业移动社交营销平台和移动数据管理平台。开发了跨四屏移动监测优化系统、社会化营销平台以及数字导视系统等多个系统，以及覆盖商业地产、旅游地产、大型零售和电商等行业的解决方案。</p>
        </div>
        <div class="one">
            <dl>
                <dt><img src="../imgs/logo_langlib.png" alt="" /></dt>
                <dd>
                    <p>2016-2017</p>
                    <p>朗播网</p>
                </dd>
            </dl>
            <p class="p_text">专注托福、雅思、GRE、GMAT、新 SAT、ACT 等出国留学考试以及考研英语、四六级等国内英语考试，为学习者提供课程、练习、测评、问答、社区等一站式服务。</p>
        </div>
        <div class="two">
            <dl>
                <dt><img src="../imgs/logo_meili.png" alt="" /></dt>
                <dd>
                    <p>2014-2016</p>
                    <p>天道计然北京网络有限公司</p>
                </dd>
            </dl>
            <p class="p_text">美利金融是一款关于美好生活的金融p2p投资理财产品，专注于个人消费金融，以金融服务帮助年轻人创造美好生活，是一个具有温度的互联网金融平台。</p>
        </div>
        <div class="three">
            <dl>
                <dt><img src="../imgs/logo_zapya.png" alt="" /></dt>
                <dd>
                    <p>2014.7-2015.7</p>
                    <p>快牙zapya</p>
                </dd>
            </dl>
            <p class="p_text">zapya是一款实现跨平台文件传输的应用，能帮助智能手机用户之间实现高速海量数据传输。支持安卓（Android）、苹果（iOS）、WP、PC等多种智能终端间的互联互通。通过快牙，可以和任何人分享应用、照片、视频、音乐及其他任意格式文件。</p>
        </div>
        <div class="four">
            <dl>
                <dt><img src="../imgs/logo_school.png" alt="" /></dt>
                <dd>
                    <p>2009.7-2013.9</p>
                    <p>北京城市学院</p>
                </dd>
            </dl>
            <p class="p_text">位于北京市海淀区北四环中路269号，是经教育部批准成立的一所综合性普通高校。1984年，创建海淀走读大学（北京城市学院前身）。</p>
        </div>
    </section>
</div>