<div class="contenct_body">
    <section class="cbhead">
        <img src="../imgs/img_lianxiwo.png" alt="">
        <p>联系我</p>
        <span></span>
    </section>
    <section class="cbbody">
        <p class="p_name">张雅柔_Yaro</p>
        <p class="p_name1">UI设计师</p>
    </section>
    <section class="cbphone">
        <p><i><img src="../imgs/icon_youxiang.png" alt=""></i>18515609380@163.com</p>
        <p><i><img src="../imgs/icon_dianhua.png" alt=""></i>18515609380</p>
        <p><i><img src="../imgs/icon_qq.png" alt=""></i>1450168577</p>
    </section>
    <section class="img_ditu">
        <img src="../imgs/ditu1.png" alt="">
    </section>
    <section class="cbfoot">
        <p>Copyright © Graphika inc.</p>
    </section>
</div>