<div class="workbody">
    <section class="cbhead">
        <img src="imgs/img_wode.png" alt="">
        <p>我的项目</p>
        <span></span>
    </section>
    <!--<section class="wbnav">
        <section class="navmin">
            <span class="bg">全部</span>
            <span>App</span>
            <span>网页</span>
            <span>运营设计</span>
            <span>日常练习</span>
        </section>
    </section>-->
    <section class="wbbody">
        <dl class="textclose dts">
            
            <dt ng-click="init('../imgs/langbo.jpg','10400')" class=""><img src="../imgs/img_langlib.png" alt="">
                <div class="text hide">
                    <section class="addtext"></section>
                    <div class="mindiv"><div class="minsdiv"></div></div>
                    <p class="addtxt">专注托福、雅思、GRE、GMAT、新 SAT、ACT 等出国留学考试以及考研英语、四六级等国内英语考试，为学习者提供课程、练习、测评、问答、社区等一站式服务。</p>
                </div>
                
            </dt>
            <dd>
                <p>朗播网</p>
                
            </dd>
        </dl>
        <dl  class="textclose dts">
            <dt ng-click="init('../imgs/youyong.jpg','8900')"><img src="../imgs/img_youyong.png" alt="">
                <div class="text hide">
                    <section class="addtext"></section>
                    <div class="mindiv"><div class="minsdiv"></div></div>
                    <p class="addtxt">美利金融旗下品牌暨全资子公司，是一家做品牌手机数码产品分期购买的平台，面向有消费能力,并且熟悉移动互联网的年轻人群体。</p>
                </div>
            </dt>
            <dd>
                <p>有用分期</p>
            </dd>
        </dl>
        <dl  class="textclose dts">
            <dt ng-click="init('../imgs/mljr.jpg','8900')"><img src="../imgs/img_meili.png" alt="">
                <div class="text hide">
                    <section class="addtext"></section>
                    <div class="mindiv"><div class="minsdiv"></div></div>
                    <p class="addtxt">美利金融是一款关于美好生活的金融p2p投资理财产品，专注于个人消费金融，以金融服务帮助年轻人创造美好生活，是一个具有温度的互联网金融平台。</p>
                </div>
            </dt>
            <dd>
                <p>美利金融</p>
            </dd>
        </dl>
        <dl class="textclose dts">
            <dt  ng-click="init('../imgs/zapya.jpg','8900')"><img src="../imgs/img_zapya.png" alt="">
                <div class="text hide">
                    <section class="addtext"></section>
                    <div class="mindiv"><div class="minsdiv"></div></div>
                    <p class="addtxt">一款实现跨平台文件传输的应用，能帮助智能手机用户之间实现高速海量数据传输。通过快牙，可以和任何人分享应用、照片、视频、音乐及其他任意格式文件。</p>
                </div>
            </dt>
            <dd>
                <p>快牙ZAPYA</p>
            </dd>
        </dl>
        <dl class="textclose dts">
            <dt ng-click="init('../imgs/yunying.jpg','8900')"><img src="../imgs/img_yunying.png" alt="">
                <div class="text hide">
                    <section class="addtext"></section>
                    <div class="mindiv"><div class="minsdiv"></div></div>
                    <p class="addtxt"  style="padding-top: 40px;">近期做的运营设计集合。</p>
                </div>
            </dt>
            <dd>
                <p>运营活动</p>
            </dd>
        </dl>
        <dl class="textclose dts">
            <dt  ng-click="inits('12000')"><img src="../imgs/richang1.png" alt="">
                <div class="text hide">
                    <section class="addtext"></section>
                    <div class="mindiv"><div class="minsdiv"></div></div>
                    <p class="addtxt" style="padding-top: 40px;">日常个人练习总结。</p>
                </div>
            </dt>
            <dd>
                <p>日常练习</p>
            </dd>
        </dl>
    </section>
</div>